<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>It's Mr. Stick Figure</h1>
    <p>Distillery meh locavore polaroid hashtag drinking vinegar knausgaard selvage coloring book austin pinterest fam. Keffiyeh air plant swag pabst taiyaki actually. Pickled echo park literally normcore polaroid pork belly keytar. Mustache before they sold out forage, pabst locavore flexitarian brooklyn schlitz crucifix bespoke af single-origin coffee try-hard godard. Offal pork belly squid tbh cliche photo booth palo santo banjo woke fanny pack.</p>
    <p>Oh. You need a little dummy text for your mockup? How quaint.</p>
  </div>
</div>